@mixin cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;



    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #325935;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #FFF8DE;
    }

    svg {
        position: relative;
        top: -1px;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #FFF8DE;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    &:hover:before {
        width: 100%;
        background: #325935;
    }

    &:hover svg {
        transform: translateX(0);
    }

    &:active {
        transform: scale(0.95);
    }
}

.cta {
    @include cta;
}