@import "variables";


.card-animation {
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: #325935;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
}

.card {
    border-radius: 20px;
    background: #325935;
    box-shadow: 34px 34px 69px #020c09,
        -34px -34px 69px #06271f;
}

.custom-title {
    font-family: $ff-bold;
    color: #FFF8DE;
    font-size: 36px;
}

.custom-text {
    font-family: $ff-bold;
    color: rgba(245, 242, 239, 0.7);
    font-size: 17px;
}

.custom-image {
    translate: 0px 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}