//Main index
h1 {
    font-family: $ff-bold;
    color: $white;
    font-size: 65px;
}

p {
    font-family: $ff-regular;
    color: $textColor;
    font-size: 18px;
}

main {
    // background-color: aqua;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}



// MAIN: PROJECTS
h4 {
    color: $h4Color;
    font-size: 18px;
}

.h1Porject {
    font-size: 48px;
    margin-left: 19%;
}

.h4Style {
    margin-left: 19%;
}

/*Creo este media porque tengía un h4 que no se modificaba al momento de achicar la pantalla.
De esta manera lo fuerzo a hacerlo*/
@media (max-width: 576px) {
    .h4Style {
        margin-left: 0%;
    }
}