h1 {
    font-family: $ff-bold;
    color: $white;
    font-size: 65px;
}

p {
    font-family: $ff-regular;
    color: $textColor;
    font-size: 18px;
}

main {
    // background-color: aqua;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}



// MAIN: PROJECTS
h4 {
    color: $h4Color;
    font-size: 18px;
}

.h1Porject {
    font-size: 48px;
}