/* SECTION: PAGE PROJECTS */
/* section {
    border-radius: 20px;
    background: #325935;
    box-shadow: 34px 34px 69px #020c09,
        -34px -34px 69px #06271f;
} */

// h5 {
//     letter-spacing: 3px;
//     color: #FFF8DE;
//     translate: 0px 6px;
// }

// SECTION 2
.sStyle {
    background-color: #003ECB;
}