$font-path: '../fonts/';

@font-face {
    font-family: "lato_regular";
    src: url(#{$font-path}lato_regular.ttf);
}

@font-face {
    font-family: "lato_bold";
    src: url(#{$font-path}lato_bold.ttf);
}


@import "variables";
@import "header";
@import "main";
@import "footer";
@import "card";
@import "imgStyles";
@import "button";

body {
    background-color: $bg-principal;
    color: $white;
}

//Agrego estos Media para que los titulos adapten su tamaño dependiendo del tamaño de la pantalla
@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        // font-size: 0.5rem;
        margin-left: 0%;
    }

    h1,
    h2 {
        font-weight: bold;

    }

    h1 {
        display: none;

    }

    h2 {
        display: block;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 577px) {


    h1 {
        display: block;
        font-weight: bold;
    }


    h2 {
        display: none;
    }
}